*{
    margin: 0;
}
#logo{
    height: 40px;
    padding-top: 20px;
    padding-left: 10px;
}

#LogoContainer{
    background-color: #4EA0FF;
    background-image: url("../img/pattern.png");
    background-repeat: repeat-x;
    background-size: contain;
}

h1{
    font-size: 350%;
}

#sottotitolo{
    font-size: small;
    color: rgba(37, 37, 37, 0.66);
}
#azzurro{
    color: #4EA0FF;

}

#small{
    font-size:x-small;
    color: rgba(37, 37, 37, 0.66);
}

/* fino a qui ho inserito l header */

/*  inizio main */

/* prima section immagini + descrizione */
#TimFoto1-2{
    margin-top: 1%;
}

.DescrizioneFotoTim{
    display: block;
    margin: 0;
    font-size: x-small;
}

/* seconda section */

/* primo article */
.lorem{
    margin-top: 1%;
}